<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application>

        <service
            android:name=".nsclient.services.NSClientService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".nsclientV3.services.NSClientV3Service"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="app.aaps.plugins.sync.wear.activities.CwfInfosActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".openhumans.ui.OHLoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/OpenHumans"
            android:label="Setup Open Humans"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="setup-openhumans"
                    android:scheme="androidaps" />
            </intent-filter>
        </activity>

<!--        android:process=":remote"
android:enabled="true"
"app.aaps.plugins.sync"-->
        <service
            android:name=".wear.wearintegration.DataLayerListenerServiceMobile"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse">

<!--            <intent-filter>-->
<!--                &lt;!&ndash; These are the interfaces supported by the service,-->
<!--                which-->
<!--                you can bind to. &ndash;&gt;-->
<!--                <action android:name="com.service.test.IAYmsgService" />-->
<!--                <action android:name="com.service.test.REMOTE_SERVICE" />-->
<!--            </intent-filter>-->

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <data
                    android:host="*"
                    android:scheme="wear" />
            </intent-filter>

            <intent-filter>
                <!-- listeners receive events that match the action and data filters -->
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="@string/path_rx_bridge"
                    android:scheme="wear" />
            </intent-filter>

            <intent-filter>
                <!-- listeners receive events that match the action and data filters -->
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="@string/path_rx_data_bridge"
                    android:scheme="wear" />
            </intent-filter>
        </service>

    </application>

</manifest>